@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
}

/* Container holding the textarea and delete button */
.textarea-container {
    position: relative;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 75%;
    height: 50vh; /* Adjust the height of the container */
    margin-bottom: 25px;
}

.lyricsInput {
    font-family: Poppins, Arial, sans-serif;
    font-size: 16px;
    color: #333333;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.5s;
    resize: none;
}

/* Style for the delete button inside the textarea */
.delete-button {
    position: absolute; /* Position relative to the container */
    top: -5px; /* Move closer to the top of the textarea */
    right: 5px; /* Align with the right edge of the textarea */
    background-color: rgb(189, 188, 188);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    width: 5%;
}

.delete-button:hover {
    background-color: rgb(255, 72, 72);
}

.lyricsInput:focus {
    border: 1px solid #4c9aff;
    outline: none;         /* Remove default outline */
}

.lyricsInput::placeholder {
    font-family: Poppins, Arial, sans-serif; /* Change font family */
    font-size: 16px;               /* Change font size */
    color: #888888;                /* Change font color */
    font-style: italic;            /* Make the font italic */
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

button {
    font-family: Poppins;
    display: block;
    width: 200px;
    margin: 20px auto; 
    padding: 10px;
    font-size: 16px;
    background-color: #2d55da;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#addSong {
    background-color: #b7cce4;
    color: #2d55da;
    border: 2px dashed #2d55da;
    box-sizing: border-box;
}

#addSong:hover {
    background-color: #7494fd;
    color: white;
    border: 2px dashed #2d55da;
    box-sizing: border-box;
}

button:hover {
    background-color: #2c77da;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 29px;
    }

    .textarea-container {
        width: 100%;
    }

    body {
        margin: 36px;
    }

    img {
        width: 150%;   /* Full width of the container */
        max-width: 600px;  /* Maximum size on large screens */
        height: auto; 
    }

    .img-container {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    button {
        margin: auto 0px;
        height: 54px;
        padding: 0;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 12px;
    }

    #addSong {
        padding: 4px;
    }

    .delete-button {
        width: 10%;
        height: 8%;
    }
}

.img-container {
    display: flex;
}

img {
    width: 100%;
}

